<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/hibernate1" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<!-- Hibernate 3 XML SessionFactory Bean definition -->
	<bean id="hibernate3SessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>person3.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.MySQLDialect
				hibernate.generate_statistics=true
			</value>
		</property>
	</bean>

	<!-- Note: Please check source code of HibernateDaoSupport class to check how the instance of HibernateTemplate is created -->
	
	<!-- <bean id="myHibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="hibernate3SessionFactory" />
	</bean>
 -->
	<bean id="person3" class="com.mypack.dao.Person3DaoImplWithHibernateDaoSupport">
		<!-- <property name="hibernateTemplate" ref="myHibernateTemplate" /> -->
		<!-- When we set the sessionFactory using below line then setSessionFactory method check if hibernateTemplate is null then it will create the hibernate template -->
		<property name="sessionFactory" ref="hibernate3SessionFactory" />
	</bean>
</beans>